* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Futura", sans-serif;
  color: #0077b5;
  background-color: #fcf6f5ff;
  box-sizing: border-box;
}

#root {
  display: flex;
  align-items: center;
}
