* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Futura", sans-serif;
  color: #fff;
  background-color: #fcf6f5ff;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
}
